extends ../layout

block content
  #cover
  .col-sm-6.col-sm-offset-3.loginSignUpDiv
    div
      h2 About This App:
      p(class="content") We developed this application in light of a need for tech students to have easy access to a comprehensive bug list.
    h3 Login / Sign Up with Google:
    div
      a(href="/auth/google")
        i(class="fa fa-google fa-4x google" aria-hidden="true") &nbsp; Google


