extends ../layout

block content
  .col-sm-6.col-sm-offset-3
    h1
      span.fa.fa-sign-in
      |  Login
    form(action='/login', method='post')
      .form-group
        label Email
        input.form-control(type='text', name='user[username]')
      .form-group
        label Password
        input.form-control(type='password', name='user[password]' autocomplete="off")
      button.btn.btn-warning.btn-md(type='submit') Login
  br
  #container.signup
    h3 Sign up 
    a(href="/signup") 
      button(class="btn btn-primary") Click here to sign up
    h3 Or, login with one of the followings:
    div
      a(href="/auth/linkedin") 
        i(class="fa fa-linkedin fa-2x linkedin" aria-hidden="true") &nbsp; LinkedIn 
      br
      a(href="/auth/google")
        i(class="fa fa-google fa-2x google" aria-hidden="true") &nbsp; Google

