extends ../layout

block content
  .col-sm-6.col-sm-offset-3
    h1
      span.fa.fa-sign-in
      |  Sign Up
    form(action='/signup', method='post')
      .form-group
        label Email
        input.form-control(type='text', name='user[email]')
      .form-group
        label Password
        input.form-control(type='password', name='user[password]' autocomplete="off")
      button.btn.btn-warning.btn-lg(type='submit') Login
