extends ../layout.jade

block content
  h1 Edit your account
  form(action="/account?_method=PUT", method="POST" id = 'accountUpdate')
    h3(id="aliasDisplay") #{user.alias}
    img(id="photoDisplay", src="#{user.photo}" class="profilePhoto")
    .inputGroup
      button(id="reset") Reset Form
      input(id="aliasInput", type="text" name="user[alias]",  placeholder="What should we call you?")
      input(id="photoInput", type="text" name="user[photo]", placeholder="Link to a photo")
      input(id="passwordInput", type="password", name="user[password]", placeholder="Update your password" autocomplete="off")
      input(type="submit" value="submit" id="submit")
  h1 Delete your account
  form(action="/users/#{user.id}?_method=DELETE" method="POST")
    input(type="submit" value="X" class="btn btn-xs btn-danger")
  script(type="text/javascript", src="/javascripts/accountEdit.js")
    
