extends ../layout

block content
  .container
    h1 Add a comment about - #{post.title}
    form(action="/posts/#{post.id}/comments", method="POST")
      textarea(id="body" rows="10" cols="50" name="comment[content]")
      input(class="btn btn-primary" type="submit" value="Add this comment")
    script(src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js")
    script(src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
    script(src="/javascripts/script.js")