.content {
  font-size: 18px;
}

label {
  display: inline-block;
  padding: 0;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin: 7px 0 0 0;
}

.errorCover {
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.coverPhoto {
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.loginSignUpDiv {
  border: 5px solid rgba(100,100,100,0.5);
  position: absolute;
  border-radius: 10px;
  padding: 20px;
  top: 10vh;
  background-color: rgba(150,255,255,0.5);
  color: black;
}

.errorDiv {
  border: 5px solid rgba(100,100,100,0.5);
  position: absolute;
  border-radius: 10px;
  padding: 20px;
  top: 40vh;
  background-color: rgba(150,100,255,0.5);
  color: black;
}

.headshot {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 15%;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 15%;
}

.github {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  margin-left: 18vw;
}

.headline {
  text-align: center;
  margin-bottom: 2.7vh;
}

#secondCover {
  margin-top: 10vh;
  background-color: rgba(118,183,0,0.6);
}

#thirdCover {
  margin-top: 10vh;
  background-color: rgba(150,150,0,0.3);
}

#fourthCover {
  margin-top: 10vh;
  background-color: rgba(118,200,0,0.3);
}

.tile {
  border-top: 2px;
  border-color: gray;
  border-style: solid;
  border-radius: 20px;
  margin-bottom: 5px;
  padding-left: 5vw;
  width: 75vw;
}

.title {
  width: 29.5vw;
}

.inputGroup{
  margin: 20px 0;
}

.inputGroup input {
  display:block;
  margin: 10px 0;
  width: 280px;
}
.categoryDropdown label, .categoryDropdown input {
  padding: 15px;
}

#aliasInput{
  color: #999999;
}

#photoInput{
  min-width: 280px;
  max-width: 280px;
  color: #999999;
  max-height: 45px;
}

#reset{
  position:relative;
  bottom: 50px;
  left: 110px;
  width: 100px;
}

#submit {
  width: 100px;
}

.google {
  color: red;
  margin: 0 15% 0 30%;
}

#button {
  position: absolute;
  top: 80vh;
  left: 45%;
}

.google:hover {
  color: rgba(255, 51, 153, 1);
}

.menu {
  position: fixed;
  right: 0vw;
  font-size: 20px;
  width: 20vw;
  padding: 10px;
  background-color: rgba(100,100,100,0.5);
}

.bodyDiv {
  margin: 0 auto;
  background-color: rgba(50,50,200,0.1);
  border-radius: 10px;
  margin: 10px;
  width: 80vw;
  height: auto;
  padding: 2vw;
}

.commentDiv, .bodyBody {
  margin: 0 auto;
  background-color: rgba(100,25,200,0.1);
  border-radius: 10px;
  margin: 10px;
  width: 70vw;
  height: auto;
  padding: 2vw;
}

.commentBody {
  margin-left: 8vw;
}

.commentAuthor, .postAuthor {
  color: rgba(255,50,102,1);
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
  margin-left: 10px;
}

.icon {
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
}

.deleteBtn {
  float: right;
}

.editBtn, .newBtn {
  float: right;
}

a {
  color: #005999;
}

a:hover {
  color: #3af;
}

.profilePhoto {
  max-height: 200px;
  margin-bottom: 10px;
}

.profileDiv {
  width: 60%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  border-radius: 5px;
  padding-left: 2vw;
}

.thumb {
  max-height:40px;
}

.dropdown {
  float: right;
  position: fixed;
  left: 75vw;
  top: 15vh;
}

.caret {
  margin: 10px;
}

.dropdown-menu {
  padding:20px;
  font-size:1.5em;
}


.editProfileDiv{
  border: 2px solid black;
  padding-top: 15px;
  padding-left: 60px;
  border-radius: 10px;
  position: relative;
}

#deleteAccount{
  position: relative;
  left: 180px;
  bottom: 29px;
}

.CodeMirror, .CodeMirror-scroll {
  max-height: 100px;
}

.bodyStyle{
  background-color: #66CDAA;
}

.accountTile {
  width: 95%;
  border-top: 2px;
  border-color: gray;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 5px;
  padding-left: 3vw;
  }
.usersDiv{
  border: 2px solid black;
  border-radius: 10px;
}
