.container {
  margin-left: 0;
  margin-right: 0;
}

.tile {
  border-top: 2px;
  border-color: gray;
  border-style: solid;
  margin-bottom: 5px;
  padding: 5px;
  width: 75vw;
}

.title {
  width: 29.5vw;
}

.google {
  color: red;
}

.google:hover {
  color: rgba(255, 51, 153, 1);
}

.menu {
  position: fixed;
  right: 0vw;
  font-size: 20px;
  width: 20vw;
  padding: 10px;
  background-color: rgba(100,100,100,0.5);
}

.bodyDiv {
  margin: 0 auto;
  background-color: rgba(50,50,200,0.1);
  border-radius: 10px;
  margin: 10px;
  width: 80vw;
  height: 70vh;
  padding: 2vw;
}

.deleteBtn {
  float: right;
}

.editBtn {
  float: right;
}

a {
  color: #005999;
}

a:hover {
  color: #3af;
}

