extends ../layout

block content
  .col-sm-6.col-sm-offset-3.usersDiv
    h1 Bug Hub Users
    table(class="table table-striped table-hover")
      thead
        th Name
        th 
      tbody
        each user in users
          tr
            td 
              a(href="/users/#{user.id}/posts") #{user.alias}
            td 
              img.thumb(src="#{user.photo}")

      tfoot