extends ../layout

block content
  .container
    h1(class="lead") Hey #{user.alias} - what are you writing about?
    form(action="/users/#{user.id}/posts", method="POST")
      div
        .categoryDropdown
          each category in categories
            label #{category.technology}
            input(type="checkbox" name="category[#{category.technology}]")
        label Title: &nbsp;
        input(type="text" class="title" name="post[title]")
      div
        textarea(id="body" rows="10" cols="50" name="post[body]")
      div
        input(type="submit" value="Add this post" class="btn btn-primary btn-sm")
    script(src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js")
    script(src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
    script(src="/javascripts/script.js")
